apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-stg
  namespace: flux-stg
  labels:  
    app: my-golang-stg
    release: beta
spec: 
  selector: 
    matchLabels:
      project: golang   
  template:
    metadata:
      labels: 
        project: golang
    spec:
      containers: 
        - name: golang-web
          image: docker.io/marina1327/task-01:latest # {"$imagepolicy": "flux-system:stg"}
          ports:
            - containerPort: 8080 
